@media screen and (max-width: 750px) {
    img.logo-organization {
        width: 80px;
        height: 80px;
    }

    img.logo-smartcity {
        width: 80px;
        height: 80px;
    }

    .header-title {
        font-size: 20px;
    }

    .chart-box {
        width: 100%;
    }

}

@media screen and (min-width: 751px) {
    img.logo-organization {
        width: 150px;
        height: 150px;
    }

    img.logo-smartcity {
        width: 150px;
        height: 150px;
    }

    .header-title {
        font-size: 35px;
    }

    .chart-box {
        width: 70%;
        margin-right: 1em;
    }

    .overview-element {
        border-style: solid;
        border-width: 0px 1px 0px 0px;
        border-color: #3e3e3e
    }

}

a.btn{
    white-space:normal !important;
    word-wrap:break-word;
    word-break: normal
}

.btn{
    white-space:normal !important;
    word-wrap:break-word;
    word-break: normal
}

.auto-height-text-overflow{
    white-space:normal !important;
    word-wrap:break-word;
    word-break: normal
}

.list-group-item{
    overflow: auto;
}