@media screen and (max-width: 750px) {
    img.logo-organization {
        width: 80px;
        height: 80px;
    }

    img.logo-smartcity {
        width: 80px;
        height: 80px;
    }

    .header-title {
        font-size: 20px;
    }

    .chart-box {
        width: 100%;
    }

    .overview-box {
        width: 100%;
    }

    .wardifno-box {
        width: 100%;
    }
}

@media screen and (min-width: 751px) {
    img.logo-organization {
        width: 150px;
        height: 150px;
    }

    img.logo-smartcity {
        width: 150px;
        height: 150px;
    }

    .header-title {
        font-size: 35px;
    }

    .chart-box {
        width: 70%;
        margin-right: 1em;
    }

    .overview-box {
        width: 23%;
        margin-left: 2em;
    }
}
